@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0b1220;
}

html, body, #__next {
  height: 100%;
}

body {
  background-color: var(--bg);
  color: white;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
}
